:root{
  font-size: 62.5%;
  font-family: 'Archivo', sans-serif;
  --brand-color-light:#60A5FA;
  --brand-color-dark:#1D4ED8;
  --bg-color:#0F172A;
  --stroke-color:stroke-color;
  --text-color-primary:#F1F5F9;
  --text-color-secondary:#CBD5E1;
  --font-heading1: 800 2.4rem/135%;
  --font-heading2: 800 1.6rem/140%;
  --font-heading1: 800 1.6rem/140%;
  --font-span: 600 1.4rem/145%;
  --font-text: 400 1.6rem/140%;
  --font-text-sm: 400 1.4rem/160%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font: var(--font-text);
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: var(--brand-color-light);
}

h1,h2,h3,h4,h5,h6{
  font: inherit;
}
