:root{
  font-size: 62.5%;
  font-family: "Archivo", sans-serif;
  --brand-color-light:#60A5FA;
  --brand-color-dark:#1D4ED8;
  --bg-color:#0F172A;
  --stroke-color:#1E293B;
  --text-color-primary:#F1F5F9;
  --text-color-secondary:#CBD5E1;
  --font-heading1: 900 2.4rem/135% 'Archivo', sans-serif;
  --font-heading2: 800 1.6rem/140% 'Archivo', sans-serif;
  --font-heading3: 800 1.6rem/140% 'Archivo', sans-serif;
  --font-span: 600 1.4rem/145% 'Archivo', sans-serif;
  --font-text: 400 1.6rem/140% 'Archivo', sans-serif;
  --font-text-sm: 400 1.4rem/160% 'Archivo', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font: var(--font-text);
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: var(--brand-color-light);
}

h1,h2,h3,h4,h5,h6{
  font: inherit;
}

img{
  max-width: 100%;
}

main{
  margin-top: 4rem;
  gap: 8rem;
}

.content-tag{
  display: inline-block;
  background-color: var(--brand-color-dark);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  color: var(--text-color-primary);
  box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.251);
}
